$color-background: #EEE
$color-accent: #4300AA

$heading-font-family: "Average", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: #DDD
$header-sticky-background: #DDD
$header-border-bottom-width: 1px
$hero-background-color: none
$footer-background-color: #DDD